.css-content {
  padding: 30px;
  line-height: 45px;
}

.css-main {
  margin-top: 8px;
  margin-bottom: 8px;
}

.box-example {
  background-color: black;
  height: 100px;
  width: 100px;
}

.example-1 {
  color: red;
}

.example-2 {
  font-size: 10px;
}

.example-3 {
  font-weight: bold;
}

.example-4 {
  line-height: 12px;
}

.example-5 {
  text-align: center;
}

.example-6 {
  display: flex;
  height: 20px;
  width: 20px;
  background-color: red;
  position: relative;
  top: 13px;
}

.example-7 {
  display: flex;
  align-items: center;
  height: 20px;
  width: 20px;
  background-color: red;
  position: relative;
  right: 13px;
}

.example-8 {
  display: flex;
  height: 20px;
  width: 20px;
  background-color: red;
  position: relative;
  bottom: 13px;
}

.example-9 {
  display: flex;
  height: 20px;
  width: 20px;
  background-color: red;
  position: relative;
  left: 13px;
}

.example-10 {
  height: 20px;
  width: 20px;
  background-color: red;
  margin-left: 10px;
}

.box-example-11 {
  background-color: black;
  height: 100px;
  width: 100px;
  padding: 20px;
}

.example-11 {
  height: 20px;
  width: 20px;
  background-color: red;
}

.example-12 {
  height: 20px;
  width: 20px;
  background-color: red;
  border: 3px;
  border-color: blue;
  border-style: dotted;
}

.example-13 {
  height: 20px;
  width: 50px;
  background-color: red;
}

.example-14 {
  height: 50px;
  width: 20px;
  background-color: red;
}

.example-15 {
  height: 20px;
  width: 20px;
  background-color: blue;
}

.example-16 {
  height: 40px;
  width: 40px;
  background-image: url(https://picsum.photos/seed/picsum/200/300);
}

.example-17 {
  height: 40px;
  width: 40px;
  background-image: url(https://picsum.photos/seed/picsum/200/300);
  background-size: cover;
}

.example-18 {
  height: 40px;
  width: 40px;
  background-image: url(https://picsum.photos/seed/picsum/200/300);
  background-repeat: repeat;
}

.example-19 {
  height: 20px;
  width: 20px;
  background-color: red;
}

.box-example-19 {
  background-color: black;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
}

.example-20 {
  height: 20px;
  width: 20px;
  background-color: red;
}

.box-example-20 {
  background-color: black;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
}

.box-example-21 {
  background-color: black;
  height: 100px;
  width: 100px;
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 3;
  grid-gap: 2px;
}

.example-21 {
  height: 20px;
  background-color: red;
}
