.html-list-elements {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: start;
  gap: 20px;
}

.html-list-elements li {
  width: 400px;
  display: flex;
  flex-direction: column;
}
