HTML

Liste as principais tags HTML e descreva suas propriedades e utilizações. Inclua exemplos práticos.

•	Estruturais: A estrutura HTML é a forma como o conteúdo de uma página web é organizado e estruturado.

<html> É uma tag que abre um documento HTML. Depois de abrir a tag <html>, é necessário fechá-la no final 
       do documento. As tags HTML são elementos que informam ao navegador como formatar o texto e definir a estrutura 
       e o significado do conteúdo de uma página. Elas são marcadas por sinais de “maior que” e “menor que”. 

<head> É uma coleção de metadados, ou seja, dados sobre os dados, que fornece informações gerais sobre um documento. 
       A tag <head> é utilizada para passar informações ao navegador que não serão apresentadas na tela para o usuário.
       Algumas informações que podem ser incluídas na tag <head> são: Título do documento, Links para scripts e folhas de estilos.

<body> É responsável por conter o conteúdo visível de um documento, ou seja, todo o corpo do site que é exibido na janela do navegador.

<div>
<span>


•	Textuais: <h1> - <h6>, <p>, <a>, <strong>, <em>
•	Mídia: <img>, <audio>, <video>
•	Formulários: <form>, <input>, <textarea>, <button>, <select>
•	Tabelas: <table>, <tr>, <td>, <th>
•	Semânticas: <header>, <footer>, <article>, <section>, <nav>
A tag <header> é um elemento HTML que representa o cabeçalho de uma página web. O cabeçalho é a primeira coisa que alguém vê ao acessar a página, por isso é importante que ele seja bem-estruturado e adequado para o site.

